@import url(https://fonts.googleapis.com/css?family=Roboto);
.tilesWrap {
	padding: 0;
	margin-bottom: 10px;
	margin-top: 1px;
	list-style: none;
	text-align: center;
}
.tilesWrap li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 20px 20px 20px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'Roboto', san-serif;
	min-height: 25vh;
	border: 2px solid #ffffff;
	text-align: left;
}
.tilesWrap li h2 {
	font-size: 80px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
	cursor: default;
}
.tilesWrap li h3 {
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 15px;
	cursor: default;
}
.tilesWrap li p {
	font-size: 19px;
	line-height: 25px;
	color: #ffffff;
	margin-top: 5px;
	cursor: default;
}
.tilesWrap li:hover h2 {
	top: 0px;
	opacity: 0.6;
	filter: blur(1);
}

.tilesWrap li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #ffffff;
	transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
}
.tilesWrap li:nth-child(1):before {
background: linear-gradient(to right, #232526, #414345);
}
.tilesWrap li:nth-child(2):before {
background: linear-gradient(to right, #232526, #414345);
}
.tilesWrap li:nth-child(3):before {
background: linear-gradient(to right, #232526, #414345);
}
.tilesWrap li:nth-child(4):before {
background: linear-gradient(to right, #232526, #414345);
}